USE [master]
GO
/****** Object:  Database [dsf]    Script Date: 08.05.2024 7:51:36 ******/
CREATE DATABASE [dsf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dsf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dsf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dsf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dsf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dsf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dsf]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 08.05.2024 7:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [int] NOT NULL,
	[Car number] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Year of release] [datetime] NOT NULL,
	[VIN number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 08.05.2024 7:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[ID] [int] NOT NULL,
	[Full name] [nvarchar](50) NOT NULL,
	[Driver's lisence number] [decimal](18, 0) NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTP]    Script Date: 08.05.2024 7:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTP](
	[ID] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Place] [varchar](max) NOT NULL,
 CONSTRAINT [PK_DTP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIBDD]    Script Date: 08.05.2024 7:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIBDD](
	[ID] [int] NOT NULL,
	[Protocol number] [int] NOT NULL,
	[Date of registration] [date] NOT NULL,
 CONSTRAINT [PK_GIBDD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[id]    Script Date: 08.05.2024 7:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[id](
	[id] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Car] ([ID], [Car number], [Model], [Year of release], [VIN number]) VALUES (1, N'с065мк78', N'Mercedes-Benz GL-Class', CAST(N'2024-05-11T00:00:00.000' AS DateTime), N'KNDPB3A21D7420695')
GO
INSERT [dbo].[Driver] ([ID], [Full name], [Driver's lisence number], [Age]) VALUES (1, N'Цветкова Алиса Тимуровна', CAST(2453908726 AS Decimal(18, 0)), 23)
GO
ALTER TABLE [dbo].[GIBDD]  WITH CHECK ADD  CONSTRAINT [FK_GIBDD_Driver] FOREIGN KEY([Protocol number])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[GIBDD] CHECK CONSTRAINT [FK_GIBDD_Driver]
GO
ALTER TABLE [dbo].[GIBDD]  WITH CHECK ADD  CONSTRAINT [FK_GIBDD_DTP] FOREIGN KEY([Protocol number])
REFERENCES [dbo].[DTP] ([ID])
GO
ALTER TABLE [dbo].[GIBDD] CHECK CONSTRAINT [FK_GIBDD_DTP]
GO
USE [master]
GO
